
.title {
    position: absolute;
    width: 586px;
    height: 76px;
    left: 70px;
    top: 100px;
}

.text-block {
    position: absolute;
    width: 586px;
    height: 155px;
    left: 70px;
    top: 250px;
}