.App {
  text-align: center;
}

.App-header {
  background-color: #1d213a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  position: absolute;
  right: 0;
}

.navlink-style {
  text-decoration: none;
  padding: 0.5rem;
  color: inherit;
}

.active {
  color: #3c67e3;
  cursor: default;
}


.position {
  position: absolute;
  top: 27px;
  right: 120px;
}

  /*---BUTTON---*/
.button {
  display: inline-block;
  color: #fff;
  background-color: #3c67e3;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  border: 2px solid
  #3c67e3;
  border-radius: 5px;
}

.button2 {
  display: block;
  width: 100%;
  padding: 10px;

  background-color: #3c67e3;
  border-radius: 16px 16px 16px 16px;
  margin-top: -25px;


  font-size: 20px;

  transition: 0.4s ease;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid
  #3c67e3;
  border-radius: 16px;
}

.button2:hover, .button:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0%{
    box-shadow: 
    0 0 25px #5ddcff,
    0 0 50px #4e00c2;
  }
}
